@model CUEL.ViewModels.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/admin.css" rel="stylesheet" />    
</head>
<body style="width: 400px;margin: auto;">
@*    <h2>Login Form</h2>*@
    @using (Html.BeginForm("AdminLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="imgcontainer">
            <img src="~/Content/images/images.jpg" alt="Admin" class="avatar" />
        </div>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="Email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" required>
            <p style="text-align:center; color:red;">@ViewBag.Error</p>
            <button type="submit">Login</button>
            @*<label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>*@
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
        @*    <span class="psw">Forgot <a href="#">password?</a></span>*@
        </div>
    }

</body>
</html>

